<form action="/users/sign-up" method="post">
  <div class="mb-3">
    <label for="name" class="form-label">name</label>
    <input type="username" class="form-control" id="name" name="username" />
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      aria-describedby="emailHelp"
      name="email"
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" />
  </div>
  <div class="mb-3">
    <label for="retype-password" class="form-label">retype Password</label>
    <input
      type="password"
      class="form-control"
      id="retype-password"
      name="retypePassword"
    />
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="check" />
    <label class="form-check-label" for="check">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
